# sort via: sort -d -u
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
debuglog.frogue
debuglog.player
Makefile
*.o
.rogue.scr
src/datesub
src/datesub.c
src/.deps/
src/gene
src/histplot
src/install.h
src/Makefile
src/player
src/rgmplot
src/rogomatic
stamp-h1
