# sort via: sort -d
#
asan.log.*
[a-z]
*.dSYM
gene
have_stdbool.h
have_strlcat.h
have_strlcpy.h
histplot
index
lex.yy.c
.lldbinit
Makefile.bak
modern_curses.h
NOTES
*.o
player
rgmplot
rogomatic
rogomatic.6
rogomatic.cat
skel/
*.swn
*.swo
*.swp
tags
