# sort via: sort -d
#
anim
[a-z]
datesub
datesub.c
*.dSYM
gene
genetest
gplot
have_stdbool.h
histplot
index
lex.yy.c
.lldbinit
Makefile.bak
NOTES
*.o
player
rgmplot
rogomatic
rogomatic.6
rogomatic.cat
skel/
*.swn
*.swo
*.swp
tags
testfind
